<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmrVoLCv7z_7gEmCnn2s6TcgfoKsv6KGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>264566315875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ilk-uygulamam.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-b759e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-b759e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264566315875:ios:4cd33dcefcfe1e30e05156</string>
</dict>
</plist>